In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set_style('whitegrid')
#sns.set_palette(sns.xkcd_palette(sample_colors))
import warnings
warnings.filterwarnings("ignore")

In [2]:
#Die einmal gesetzten Parameter greifen für alle nachfolgenden Plots, die mit plt erzeugt wurden.
plt.rc('font', size=14)          # controls default text sizes
plt.rc('axes', titlesize=14)     # fontsize of the axes title
plt.rc('axes', labelsize=14)     # fontsize of the x and y labels
plt.rc('xtick', labelsize=14)    # fontsize of the tick labels
plt.rc('ytick', labelsize=14)    # fontsize of the tick labels
plt.rc('legend', fontsize=10)    # legend fontsize
plt.rc('figure', titlesize=12)   # fontsize of the figure title
plt.rc('lines', linewidth=10, color='r')
plt.rcParams['figure.figsize']=(16,8)
Set1=['Red', 'Yellow', 'Navy', 'pink','purple','black','Blue']

In [3]:
test=pd.read_csv('test.csv')
test.head(2)
#test.info()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,production_countries,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew
0,3001,"[{'id': 34055, 'name': 'Pokémon Collection', '...",0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",http://www.pokemon.com/us/movies/movie-pokemon...,tt1226251,ja,ディアルガVSパルキアVSダークライ,Ash and friends (this time accompanied by newc...,3.851534,...,"[{'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_...",7/14/07,90.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Somewhere Between Time & Space... A Legend Is ...,Pokémon: The Rise of Darkrai,"[{'id': 11451, 'name': 'pok√©mon'}, {'id': 115...","[{'cast_id': 3, 'character': 'Tonio', 'credit_...","[{'credit_id': '52fe44e7c3a368484e03d683', 'de..."
1,3002,NaN,88000,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,tt0051380,en,Attack of the 50 Foot Woman,When an abused wife grows to giant size becaus...,3.559789,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",5/19/58,65.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A titanic beauty spreads a macabre wave of hor...,Attack of the 50 Foot Woman,"[{'id': 9748, 'name': 'revenge'}, {'id': 9951,...","[{'cast_id': 2, 'character': 'Nancy Fowler Arc...","[{'credit_id': '55807805c3a3685b1300060b', 'de..."

In [4]:
train=pd.read_csv('train.csv')
train.head(2)
#train.info()
#train.describe()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435

In [5]:
test.columns

Index(['id', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'runtime', 'spoken_languages',
       'status', 'tagline', 'title', 'Keywords', 'cast', 'crew'],
      dtype='object')

In [6]:
train.columns

Index(['id', 'belongs_to_collection', 'budget', 'genres', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'runtime', 'spoken_languages',
       'status', 'tagline', 'title', 'Keywords', 'cast', 'crew', 'revenue'],
      dtype='object')

In [7]:
# ordering the columns as desired
test=test[['id', 'imdb_id', 'title', 'popularity', 'runtime',
             'release_date', 'overview','original_language','spoken_languages','genres',
        'production_companies', 'production_countries', 'status','poster_path', 
     'tagline', 'cast', 'crew','belongs_to_collection', 'budget', 'homepage','Keywords','original_title' ]]

In [8]:
test.head(3)

,id,imdb_id,title,popularity,runtime,release_date,overview,original_language,spoken_languages,genres,...,status,poster_path,tagline,cast,crew,belongs_to_collection,budget,homepage,Keywords,original_title
0,3001,tt1226251,Pokémon: The Rise of Darkrai,3.851534,90.0,7/14/07,Ash and friends (this time accompanied by newc...,ja,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...","[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",...,Released,/tnftmLMemPLduW6MRyZE0ZUD19z.jpg,Somewhere Between Time & Space... A Legend Is ...,"[{'cast_id': 3, 'character': 'Tonio', 'credit_...","[{'credit_id': '52fe44e7c3a368484e03d683', 'de...","[{'id': 34055, 'name': 'Pokémon Collection', '...",0,http://www.pokemon.com/us/movies/movie-pokemon...,"[{'id': 11451, 'name': 'pok√©mon'}, {'id': 115...",ディアルガVSパルキアVSダークライ
1,3002,tt0051380,Attack of the 50 Foot Woman,3.559789,65.0,5/19/58,When an abused wife grows to giant size becaus...,en,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",...,Released,/9MgBNBqlH1sG4yG2u4XkwI5CoJa.jpg,A titanic beauty spreads a macabre wave of hor...,"[{'cast_id': 2, 'character': 'Nancy Fowler Arc...","[{'credit_id': '55807805c3a3685b1300060b', 'de...",NaN,88000,NaN,"[{'id': 9748, 'name': 'revenge'}, {'id': 9951,...",Attack of the 50 Foot Woman
2,3003,tt0118556,Addicted to Love,8.085194,100.0,5/23/97,Good-natured astronomer Sam is devastated when...,en,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",...,Released,/ed6nD7h9sbojSWY2qrnDcSvDFko.jpg,A Comedy About Lost Loves And Last Laughs,"[{'cast_id': 11, 'character': 'Maggie', 'credi...","[{'credit_id': '52fe4330c3a36847f8041367', 'de...",NaN,0,NaN,"[{'id': 931, 'name': 'jealousy'}, {'id': 9673,...",Addicted to Love

In [9]:
test.sort_values('popularity',ascending=False).head(10)

,id,imdb_id,title,popularity,runtime,release_date,overview,original_language,spoken_languages,genres,...,status,poster_path,tagline,cast,crew,belongs_to_collection,budget,homepage,Keywords,original_title
3380,6381,tt2293640,Minions,547.488298,91.0,6/17/15,"Minions Stuart, Kevin and Bob are recruited by...",en,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",...,Released,/q0R4crx2SehcEEQEkYObktdeFy.jpg,"Before Gru, they had a history of bad bosses","[{'cast_id': 22, 'character': 'Scarlet Overkil...","[{'credit_id': '5431b2b10e0a2656e20026c7', 'de...","[{'id': 86066, 'name': 'Despicable Me Collecti...",74000000,http://www.minionsmovie.com/,"[{'id': 3487, 'name': 'assistant'}, {'id': 179...",Minions
2977,5978,tt2245084,Big Hero 6,213.849907,102.0,10/24/14,The special bond that develops between plus-si...,en,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",...,Released,/9gLu47Zw5ertuFTZaxXOvNfy78T.jpg,From the creators of Wreck-it Ralph and Frozen,"[{'cast_id': 23, 'character': 'Baymax (voice)'...","[{'credit_id': '537534e7c3a3681efb0002b3', 'de...",NaN,165000000,http://movies.disney.com/big-hero-6,"[{'id': 380, 'name': 'brother brother relation...",Big Hero 6
3151,6152,tt0499549,Avatar,185.070892,162.0,12/10/09,"In the 22nd century, a paraplegic Marine is di...",en,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",...,Released,/kmcqlZGaSh20zpTbuoF0Cdn07dT.jpg,Enter the World of Pandora.,"[{'cast_id': 242, 'character': 'Jake Sully', '...","[{'credit_id': '52fe48009251416c750aca23', 'de...","[{'id': 87096, 'name': 'Avatar Collection', 'p...",237000000,http://www.avatarmovie.com/,"[{'id': 1463, 'name': 'culture clash'}, {'id':...",Avatar
1898,4899,tt2911666,John Wick,183.870374,101.0,10/22/14,Ex-lunatic John Wick comes off his meds to tra...,en,"[{'iso_639_1': 'hu', 'name': 'Magyar'}, {'iso_...","[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",...,Released,/5vHssUeVe25bMrof1HyaPyWgaP.jpg,Don't set him off.,"[{'cast_id': 6, 'character': 'John Wick', 'cre...","[{'credit_id': '52fe4f0cc3a36847f82b9c2b', 'de...","[{'id': 404609, 'name': 'John Wick Collection'...",20000000,http://www.johnwickthemovie.com/,"[{'id': 2708, 'name': 'hitman'}, {'id': 8045, ...",John Wick
787,3788,tt1951265,The Hunger Games: Mockingjay - Part 1,147.098006,123.0,11/18/14,Katniss Everdeen reluctantly becomes the symbo...,en,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'id': 878, 'name': 'Science Fiction'}, {'id'...",...,Released,/gj282Pniaa78ZJfbaixyLXnXEDI.jpg,Fire burns brighter in the darkness,"[{'cast_id': 2, 'character': 'Katniss Everdeen...","[{'credit_id': '52fe4b7bc3a368484e18b053', 'de...","[{'id': 131635, 'name': 'The Hunger Games Coll...",125000000,http://www.thehungergames.movie/,"[{'id': 836, 'name': 'resistance'}, {'id': 445...",The Hunger Games: Mockingjay - Part 1
1589,4590,tt3498820,Captain America: Civil War,145.882135,147.0,4/27/16,"Following the events of Age of Ultron, the col...",en,"[{'iso_639_1': 'ro', 'name': 'Română'}, {'iso_...","[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",...,Released,/kSBXou5Ac7vEqKd97wotJumyJvU.jpg,Divided We Fall,"[{'cast_id': 9, 'character': 'Steve Rogers / C...","[{'credit_id': '537d792c0e0a2624c0001210', 'de...","[{'id': 131295, 'name': 'Captain America Colle...",250000000,http://marvel.com/captainamericapremiere,"[{'id': 393, 'name': 'civil war'}, {'id': 6091...",Captain America: Civil War
402,3403,tt0110912,Pulp Fiction,140.950236,154.0,9/10/94,"A burger-loving hit man, his philosophical par...",en,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...","[{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...",...,Released,/dM2w364MScsjFf8pfMbaWUcWrR.jpg,Just because you are a character doesn't mean ...,"[{'cast_id': 2, 'character': 'Vincent Vega', '...","[{'credit_id': '52fe4269c3a36847f801caa3', 'de...",NaN,8000000,NaN,"[{'id': 396, 'name': 'transporter'}, {'id': 14...",Pulp Fiction
2680,5681,tt1790809,Pirates of the Caribbean: Dead Men Tell No Tales,133.827820,129.0,5/23/17,"Thrust into an all-new paycheck, a down-on-his...",en,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",...,Released,/xbpSDU3p7YUGlu9Mr6Egg2Vweto.jpg,NaN,"[{'cast_id': 1, 'character': 'Captain Jack Spa...","[{'credit_id': '52fe4c9cc3a36847f8236a65', 'de...","[{'id': 295, 'name': 'Pirates of the Caribbean...",230000000,http://pirates.disney.com/pirates-of-the-carib...,"[{'id': 658, 'name': 'sea'}, {'id': 3799, 'nam...",Pirates of the Caribbean: Dead Men Tell No Tales
2176,5177,tt0083658,Blade Runner,96.272374,117.0,6/25/82,In the smog-choked dystopian Los Angeles of 20...,en,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...","[{'id': 878, 'name': 'Science Fiction'}, {'id'...",...,Released,/p64TtbZGCElxQHpAMWmDHkWJlH2.jpg,Man has made his match... now it's his problem.,"[{'cast_id': 6, 'character': 'Rick Deckard', '...","[{'credit_id': '549e9edcc3a3682f2300824b', 'de...","[{'id': 422837, 'name': 'Blade Runner Collecti...",28000000,http://www.warnerbros.com/blade-runner,"[{'id': 310, 'name': 'artificial intelligence'...",Blade Runner
3800,6801,tt2091256,Captain Underpants: The First Epic Movie,88.561239,89.0,6/1/17,Two mischievous kids hypnotize their mean elem...,en,"[{'iso_639_1': 'nl', 'name': 'Nederlands'}, {'...","[{'id': 28, 'name': 'Action'}, {'id': 16, 'nam...",...,Released,/AjHZIkzhPXrRNE4VSLVWx6dirK9.jpg,NaN,"[{'cast_id': 2, 'character': 'George Beard (vo...","[{'credit_id': '57e70b5ac3a368352100a363', 'de...",NaN,38000000,http://www.foxmovies.com/movies/captain-underp...,"[{'id': 3508, 'name': 'underwear'}, {'id': 108...",Captain Underpants: The First Epic Movie

In [10]:
test.loc[test['title'] == 'Blade Runner', 'id']

2176    5177
Name: id, dtype: int64

In [11]:
test.loc[test['title'] == 'Blade Runner', 'id'].item()

5177

In [12]:
test.title[0:10]

0    Pokémon: The Rise of Darkrai
1     Attack of the 50 Foot Woman
2                Addicted to Love
3                       Incendies
4              Inside Deep Throat
5                        SubUrbia
6                           Three
7                The Tigger Movie
8                   Becoming Jane
9                     Toy Story 2
Name: title, dtype: object

In [13]:
type(test.title)

pandas.core.series.Series

In [14]:
print (test.sort_values('popularity',ascending=False)['title'].astype(str).str.contains('Minions'))

3380     True
2977    False
3151    False
1898    False
787     False
        ...
1221    False
4340    False
3449    False
243     False
830     False
Name: title, Length: 4398, dtype: bool